/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
package-lock.json
resources/js/app.js
resources/js/bootstrap.js
/public/bower_components
/public/js
/public/css
/public/bower_components/*
